body{
	background-color:lightpink;
	text-align:center;
}

h1{
	color:palevioletred;
	font-size:32px;
	margin-bottom:20px;
}
p{
	font-size:18px;
	color:rgba(0,0,0,0.8);
	margin-bottom:15px;
}
#container{
	width:80%;
	text-align:center;
	padding:20px;
	background-color:white;
	border-radius:15px;
	margin-top:30px;
	margin-bottom:30px;
	box-shadow:0 4px 8px rgba(0,0,0,0.1);
	margin:20px auto
	
}

.imagem-central{
	margin:20px auto;
	display:block;
	border:5px solid yellow;
	width:300px;
}

#info-importante{
	background-color:#c5c5d5;
	padding:15px;
	border-radius:10px;
	margin:20px;
	text-align:left;
}
h2{
	color:purple;
}



