table{
	text-align:center;
	border-collapse: collapse;
	width:80%;
	border:1px solid black;
	margin-left:10%
}
table .cabeçalho{
	background-color:#DDDDDD;
}

table .ficção{
	background-color:#FFB6C1;
}
table .Não-Ficção{
	background-color:#B0E0E6;
}
table .Infantil{
	background-color:#FAFAD2;

}

td{
	padding:8px;
	
}
th{
	padding:8px;
	
	
}
#descriçao{
	background-color:green;
	color:white;
	
	margin:10px;
	margin-top:5px
	

}
#tabela h2 {
	text-align:center;
	padding-top:20px
}
#tabela p:nth-child(1){
	text-align:center;
	width:100%;
	padding:8px
} 

#tabela{
	background-color:rgb(240, 240, 240)
;
	border-radius:5px
}